@font-face {
  font-family: "iconfont"; /* Project id 2560905 */
  src: url('iconfont.woff2?t=1621499753797') format('woff2'),
       url('iconfont.woff?t=1621499753797') format('woff'),
       url('iconfont.ttf?t=1621499753797') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-zuixiaohua:before {
  content: "\e6e8";
}

.icon-guaduandianhua:before {
  content: "\e605";
}

.icon-maikefeng-tianchong:before {
  content: "\e64c";
}

.icon--zuidahua:before {
  content: "\e621";
}

.icon-jingyin:before {
  content: "\e63e";
}

.icon-iconzhengli_tiaozhuan:before {
  content: "\e648";
}

.icon-laba:before {
  content: "\e610";
}

.icon-iconqiehuanjingtou:before {
  content: "\e60d";
}

.icon-tonghuazhongxin:before {
  content: "\e77f";
}

.icon-jinyan:before {
  content: "\e60e";
}

